# Carpetas de Hugo
/public/
/resources/
/_vendor/
/node_modules/
.hugo_build.lock

# Archivos de sistema
.DS_Store

# Carpetas de Obsidian (Configuración y Plugins)
.obsidian/
.smart-env/
**/ .obsidian/
**/ .smart-env/

# Archivos temporales de Obsidian
*.sync-conflict-*
